.incomplete{
    color: red;
}

.complete{
    color: green;
}

body{
    background-color:ghostwhite ;
    font-family: sans-serif;
}

#root{
    display: grid;
    justify-items: center;
    align-content: center;
    margin: auto 0;
}